        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

.box {
    /* max-width: 800px; */
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: darkgray;
    border-radius: 8px;
}

.contact-section h2 {
    color: white;
    margin-bottom: 15px;
}
.biodata {
    background-color: white;
    height: 100px;
    display: flex;    
    gap:20px;

}
.biodata h3 {
    margin: 10px 15px;
    position: relative;
}
.biodata .left {
   position: absolute;
   top:150px;
   left: 150px;
   

}
.biodata .center {
    position: absolute;
    top:148px;
    left: 388px;
   
}
.biodata .right {
    color:red;
    position: absolute;
    top: 128px;
    right: 184px;
   
}
.biodata .right a:hover {
    color:red;
    font-size: 23px;
}
.contacts-map {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.contact-form {
    width: 95%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  gap: 20px; 
  margin-bottom: 20px;

}
.row input {
  padding: 10px;
  flex: 1;
}
.textareas {
    margin: 15px 0;
}
.submit-button {
    background-color: #f44336;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .submit-button:hover {
    transform: scale(1.05);
  }
.maps {
    margin: 10px;
}
.social-links ul {
  list-style: none;         
  margin: 0;
  padding: 0;  
  display: flex;            
  justify-content: flex-start;  
  gap: 20px;   
}             